.navbar {
    width: 100vw;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    box-shadow: 0px 0px 2px;

}

.input-box {
    width: 57%;
    position: relative;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box input {
    height: 43px;
    width: 100%;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
    font-size: 17px;
    outline: none;
    box-shadow: 1px 1px 1px 0.5px grey;
}

.icon-search {
    position: absolute;
    font-size: 22px;
    left: 14px;
    top: 22px;


}

.img-box {
    height: 60px;
    width: 120px;
    display: flex;
    margin: 0px 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(106, 103, 103);

}

.img-box img {
    height: 80%;
    width: 30%;
}


.icons-grids {
    font-size: 35px;
    margin: 0px 60px;
    background: #fbc932;
    border-radius: 50%;
    padding: 2px;

}

.icons-grids:hover {
    background: #f1dda2;
    cursor: pointer;
}

@media (max-width:550px) {
    .icons-grids {
        font-size: 20px;
        width: 100%;
        border-radius: 15px;
        height:30px;
        width: 30px;
        margin: 0px;
        margin-right: 10px;

    }

    .img-box {
        margin: 0px 0px;
        gap: 5px;
    }

    .input-box {
        width: 100%;
    }

    .navbar {
        height: 50px;
    }

    h2 {
        font-size: 12px;
    }

    .img-box img {
        width: 30px;
        height: 30px;
    }

    .input-box input {
        font-size: 13px;
        height: 36px;
        width: 90%;

    }

    .icon-search {
        font-size: 18px;
        top: 27px;
    }

 
   
}